.plan-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #054752;
  font-size: 18px;
  line-height: 20px;
  flex-basis: calc(33.33333% - 24px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
  min-height: 85px;
  flex-basis: calc(33.3333% - 16px);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  margin-bottom: 16px;
  margin-left: 16px;
}

.plan-item:nth-child(n+4) {
  display: none;
}

.plan-item:hover {
  background-color: #d6d6d6
}

.plan-item__content {
  max-width: 163px;
  margin-right: 5px;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.plan-item__content-text {
  display: inline-block;
  position: relative;
  text-align: start;
}

.plan-item__centent-arr {
  margin: 0 8px;
}

.plan-item__centent-arr img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 14px;
}

.plan-item__content-text:first-child {
  margin-bottom: 3px;
}

.plan-item__price {
  -ms-flex-preferred-size: 45%;
  flex-basis: 90px;
  color: #054752;
  font-weight: 700;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.plan-item__price span {
  white-space: nowrap;
  margin-left: 7px
}