.news__item {
  max-width: 290px;
  width: 100%
}

.news__item + .news__item {
  margin-left: 48px
}

.news__item-img {
  width: 100%;
  height: 300px
}

.news__item-img img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%
}